html, body {
    background-color: #ffeead;
    margin: 5px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffeead;
}

.container > div:nth-child(1n) {
    background-color:red;	
}

.container > div:nth-child(2n) {
    background-color: blue;
}

.container > div:nth-child(3n) {
    background-color: green;
}

.container > div:nth-child(4n) {
    background-color: blueviolet;
}

.container > div:nth-child(5n) {
    background-color: blueviolet; 
}
.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 240px 240px 240px;
    grid-template-areas:
    "r r r r "
    "m m z z"
    "m m v1 v2";
}

.raudona {
    grid-area: r;
}

.melyna {
    grid-area: m;
}

.zalia {
    grid-area: z;
}

.violetine1 {
    grid-column: v1;
 }

.violetine2 {
    grid-column: v2;
 }
    

